@import "reset.css";
@import "grid.css";
@import "fonts.css";
:root {
    --primary-color: #fc724d;
    --text-color: #ffffff;
    --second-text-color: #737373;
}
html {
    font-size: 10px;
}
body {
    background: #fff;
    font-family: "Montserrat-Bold";
    font-size: 1.6rem;
    color: var(--text-color);
    word-wrap: break-word;
}
.container {
}
/* reset */
a {
    text-decoration: none;
}
/* components */
.label {
    color: var(--primary-text-color, #fc724d);
    font-family: "Montserrat-Bold";
    font-size: 1.4rem;
    line-height: 1.5rem;
    letter-spacing: 0.0125rem;
    display: block;
}
.title {
    color: #252b42;
    font-size: 4rem;
    margin: 1rem 0;
}
.caption {
    color: #737373;
    font-size: 1.4rem;
    font-family: "Montserrat";
    margin-bottom: 11.2rem;
    line-height: 2rem;
}

.btn {
    padding: 1.5rem 2.5rem;
    margin-left: 4.5rem;
    justify-content: center;
    align-items: center;
    width: 13.7rem;
    background-color: var(--primary-color);
    padding: 2rem 0;
    border-radius: 0.5rem;
    display: none;
    transition: all 150ms ease-out 20ms;
}
.btn:hover {
    text-align: center;
    background-color: var(--text-color);
    color: var(--primary-color);
}
.btn:hover .header__link-icon {
    fill: var(--primary-color);
}
/* helper Class */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-center {
    text-align: center !important;
}
.position-relative {
    position: relative;
}
.margin-rl0-auto {
    margin: 0 auto;
}
/* Header */
header {
}
.header {
    background: linear-gradient(rgba(0, 0, 0, 50%), rgba(0, 0, 0, 50%)), url(../Images/hero-2-cover\ sec-.png);
    height: 84.3rem;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}
.cover {
}
.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 0;
}
.header__menu-wrapper {
    display: flex;
    justify-content: flex-start;
}
.header__menu {
    display: flex;
    justify-content: space-between;
}
.header__icon {
    margin-right: 8.3rem;
    font-size: 2.4rem;
    font-weight: 700;
    cursor: pointer;
}
.menu {
    display: none;
    align-items: center;
}
.menu__items {
    margin-right: 2.1rem;
    font-size: 1.4rem;
}
.menu__items:last-child {
    margin-right: 0;
}
.menu__links {
    color: var(--text-color);
    transition: color 150ms ease-out 20ms;
}
.menu__links:hover {
    color: var(--primary-color);
}
.menu-mobile {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: center;
    align-items: center;
    left: -40vw;
    top: 0;
    bottom: 0;
    background-color: #252b42;
    width: 40vw;
    z-index: 999;
    transition: all 150ms ease-in-out 20ms;
    -webkit-transition: all 150ms ease-in-out 20ms;
    -moz-transition: all 150ms ease-in-out 20ms;
    -ms-transition: all 150ms ease-in-out 20ms;
    -o-transition: all 150ms ease-in-out 20ms;
}
.menu-mobile--open {
    left: 0;
}
.menu-mobile__items {
    margin-bottom: 5rem;
}

.menu-mobile__items:last-child {
    margin-bottom: 0;
}
.menu-mobile__links {
    color: var(--second-text-color);
    transition: color 150ms ease-out 20ms;
}
.menu-mobile__links:hover {
    color: var(--text-color);
}
.header__nav-wrapper {
    cursor: pointer;
    padding: 1rem 0.25rem;
}
.menu__nav-mobile {
    width: 3rem;
    height: 0.25rem;
    position: relative;
    background-color: #737373;
}
.menu__nav-mobile::after,
.menu__nav-mobile::before {
    content: "";
    width: 3rem;
    height: 0.25rem;
    position: absolute;
    background-color: #737373;
}
.menu__nav-mobile::after {
    top: 1rem;
}
.menu__nav-mobile::before {
    bottom: 1rem;
}
.header__links {
    display: none;
}

.header__link {
    color: var(--text-color);
    display: none;
}
.header__link:first-child:hover {
    color: var(--primary-color);
    transition: all 150ms ease-out 20ms;
}

.header__link-icon {
    margin-left: 1.5rem;
    fill: var(--text-color);
    transition: all 150ms ease-out 20ms;
}
.header-content {
    text-align: center;
    margin: 11.2rem auto;
    color: var(--text-color);
}
.header-content__label {
    color: var(--primary-color);
    font-size: 1.6rem;
}
.header-content__title {
    font-size: 4rem;
    max-width: 62.8rem;
    margin: 4rem auto;
}
.header-content__caption {
    font-family: "Montserrat";
    font-size: 1.6rem;
    max-width: 53.6rem;
    height: 6rem;
    margin: 0 auto;
}
.header-content__link {
    margin: 4rem auto;
    display: inline-block;
    padding: 1.5rem 4rem;
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: var(--text-color);
    font-size: 1.4rem;
    transition: all 150ms ease-out 20ms;
}
.header-content__link:hover {
    text-align: center;
    background-color: var(--text-color);
    color: var(--primary-color);
}
/* practice advice */
.Practice-Advice {
    margin: 11.2rem auto;
    text-align: left;
}
.Practice-Advice__text-wrapper {
}

.Practice-Advice-box-wrapper {
    margin: 11.2rem 0;
}
.Practice-Advice__box {
    padding: 3.5rem 4rem;
    box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
    transition: all 150ms ease-out 20ms;
}
.Practice-Advice__box--active {
    background-color: var(--primary-color);
}
.Practice-Advice__box:hover {
    transform: translateY(-1rem);
}
div.Practice-Advice__box--active * {
    color: #fff;
}
div.Practice-Advice__box--active *::after {
    background-color: #fff;
}
.Practice-Advice-box-wrapper__image {
}
.Practice-Advice-box-wrapper__title {
    color: #252b42;
    margin: 4rem 0;
    position: relative;
}
.Practice-Advice-box-wrapper__title::after {
    content: "";
    height: 0.2rem;
    background-color: var(--primary-color);
    position: absolute;
    left: 0;
    bottom: -2rem;
}
.Practice-Advice-box-wrapper__caption {
    color: var(--second-text-color);
    font-family: "Montserrat";
}
.Practice-Advice__link {
    justify-content: left;
    display: flex;
    width: max-content;
}
.Practice-Advice__link:hover {
    text-decoration: underline;
}
.Practice-Advice__icon {
    color: var(--primary-color);
    width: 1.4rem;
    height: 1.4rem;
    margin-left: 0.5rem;
}
/* our Department section */
.Our-Department {
    margin: 16rem 0;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Our-Department__image {
    width: 100%;
    height: 100%;
}
.Our-Department__title {
    position: relative;
}
.Our-Department__title::before {
    content: "";
    width: 9.4rem;
    height: 0.7rem;
    background-color: var(--primary-color);
    position: absolute;
    left: 0;
    top: -3.5rem;
}
.Our-Department__caption {
    color: var(--second-text-color);
    font-family: "Montserrat";
    font-size: 1.4rem;
    margin: 3.5rem 0;
    line-height: 2rem;
}
/* reference section */
.reference {
    margin-top: 11.2rem;
}

.reference__box {
    position: relative;
}

.reference__image {
    width: 100%;
}
.reference__offer-label {
    position: absolute;
    background-color: #e74040;
    left: 3rem;
    top: 2rem;
    padding: 0.25rem 1rem;
    border-radius: 0.3rem;
    font-size: 1.4rem;
    letter-spacing: 0.02rem;
}
.reference__icons {
    bottom: 31.5rem;
    left: 0;
    right: 0;
    position: absolute;
}
.reference__icon-wrapper {
    padding: 1rem;
    background-color: #fff;
    border-radius: 100%;
    margin-right: 1rem;
    cursor: pointer;
}
.reference__icon-wrapper:hover svg {
    fill: var(--second-text-color);
}
.reference__icon-wrapper:last-child {
    margin-right: 0;
}
.reference__icon {
    width: 2rem;
    left: 0;
    right: 0;
}
.reference__box-content {
    padding: 2.5rem 2.5rem 3.5rem 2.5rem;
}
.reference__box-label {
    margin-top: 1rem;
    display: inline-block;
    color: var(--primary-color);
}
.reference__box-title {
    max-width: 13.1rem;
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: #252b42;
    margin: 1rem 0;
}
.reference__box-caption {
    font-family: "Montserrat";
    font-size: 1.4rem;
    color: var(--second-text-color);
}
.reference__sale-number {
    color: black;
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
    font-size: 1.4rem;
    color: var(--second-text-color);
}
.reference__sale-icon {
}
.reference__price {
    display: flex;
    margin: 1rem 0;
    color: #0061ff;
    flex-direction: row-reverse;
    justify-content: left;
    font-size: 1.6rem;
}
.reference__price-offer {
    margin-right: 0.5rem;
    color: var(--second-text-color);
}
.reference__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3.7rem;
    border: 1px solid var(--primary-color, #fc724d);
    padding: 1rem 2rem;
    word-wrap: normal;
    cursor: pointer;
    transition: all 120ms ease-in 20ms;
}
.reference__btn:hover {
    background-color: var(--primary-color);
}
.reference__btn:hover .reference__link {
    color: #fff;
}
.reference__btn:hover .reference__link-icon {
    fill: #fff;
}
.reference__link {
    font-size: 1.4rem;
    color: var(--primary-color);
    padding-right: 1rem;
    transition: all 120ms ease-in 20ms;
}

.reference__link-icon {
    fill: var(--primary-color);
    transition: all 120ms ease-in 20ms;
}
/* our experts */
.experts {
    margin: 16rem 0;
}
.experts__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.experts__img {
    max-width: 12.8rem;
    border-radius: 100%;
}
.experts__caption {
    max-width: 32rem;
    text-align: center;
    margin: 3rem 0 0 0;
}
.experts__starts-wrapper {
    margin: 1.5rem 0;
}
.experts__star {
}
.experts__star--full {
    fill: #f3cd03;
}
.experts__title {
    font-family: "Montserrat-Bold";
    color: #252b42;
    font-size: 1.6rem;
    margin-bottom: 1rem;
}
.experts__label {
    color: var(--second-text-color);
    font-family: "Montserrat-Bold";
    font-size: 1.4rem;
}
/* our team section */
.team {
    margin: 11.2rem auto;
}
.team .row {
}

.team__box {
    padding: 0;
    text-align: center;
    border-radius: 2rem;
    box-shadow: 0 1.3rem 1.9rem 0 rgba(0, 0, 0, 0.07);
    transition: transform 150ms ease-out 20ms;
}
.team__box:hover {
    transform: translateY(-1rem);
}
.team__image {
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    width: 100%;
    object-fit: cover;
}
.team__box-texts {
    padding: 0 3rem 3rem 3rem;
}
.team__title {
    color: #252b42;
    font-family: "Montserrat-Bold";
    margin-top: 3rem;
}
.team__caption {
    margin: 1rem 0;
    color: var(--second-text-color);
}
.team__logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.team__icon {
    cursor: pointer;
}
/* Join Us section */
.join-us {
    margin: 16rem 0;
}
.join-us__top-content {
    margin-bottom: 8rem;
}

.join-us-form {
}
.join-us-form__text-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0.5rem 1.5rem 2rem;
    position: relative;
    background-color: #f9f9f9;
    border-radius: 0.5rem;
}

.join-us-form__email-input {
    width: 100%;
    padding-right: 11.5rem;
    outline: none;
    border: none;
    background-color: #f9f9f9;
    color: #252b42;
    font-size: 1.4rem;
}
.join-us-form__email-input::placeholder {
    color: #737373;
}
.join-us-form__submit {
    height: 100%;
    background-color: var(--primary-color);
    padding: 1.5rem 2.2rem;
    border-radius: 0px 5px 5px 0px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    border: none;
    color: #f9f9f9;
    font-family: "Montserrat";
    font-size: 1.4rem;
    cursor: pointer;
}
.footer-content {
}
.footer-content__top {
    overflow: hidden;
}
.footer-content__itemhead {
}
.footer-content__item-head {
    margin-bottom: 2rem;
    color: #252b42;
}

.footer-content__item {
    margin-bottom: 1rem;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: left;
}

.footer-content__link,
.footer-content__contact {
    color: var(--second-text-color);
    font-family: "Montserrat-Bold";
}
.footer-content__link:hover,
.footer-content__contact:hover {
    text-decoration: underline;
}
.footer-content__item:last-child {
    margin-bottom: 0;
}
.footer-content__icon {
    margin-right: 1rem;
}
.footer-content__contact {
}
.footer-bgc {
    padding: 2.5rem 0;
    background: #fafafa;
}
.footer-content__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-content__bottom-text-wrapper {
}
.footer-content__bottom-text {
    font-family: "Montserrat-Bold";
    font-size: 1.4rem;
    color: var(--second-text-color);
}
.footer-content__bottom-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.footer-content__bottom_icon {
    cursor: pointer;
}
