@media screen and (min-width: 350px) {
    .Practice-Advice__box {
        text-align: center;
    }
    .Practice-Advice-box-wrapper__title::after {
        width: 100%;
    }
}

@media screen and (min-width: 410px) {
    .title,
    .caption,
    .label {
        text-align: center;
    }
}

@media screen and (min-width: 576px) {
    .title,
    .caption,
    .label {
        text-align: left;
    }
    .header__menu {
        display: none;
    }
    .Practice-Advice__box {
        text-align: left;
    }
    .Practice-Advice-box-wrapper__title::after {
        width: 5rem;
    }
    .team .row {
        gap: 1rem;
    }
    .team__box {
        max-width: 22.8rem;
        min-width: 18rem;
    }
}
@media screen and (min-width: 768px) {
    .btn {
        display: flex;
    }

    .menu__mobile {
        display: none;
    }

    .header-content__title {
        font-size: 5.8rem;
    }

    .header-content__caption {
        font-size: 2rem;
    }
}

@media screen and (min-width: 992px) {
    .header__links {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header__link {
        display: flex;
    }
    .header__nav-wrapper {
        display: none;
    }
    .header__menu {
        display: flex;
    }
    .menu {
        display: flex;
    }
    .menu-mobile--open {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 1400px) {
    .container {
        padding-right: 19.5rem;
        padding-left: 19.5rem;
    }
}
